<!DOCTYPE html>
<html>
   <body>
   
      <h3>Purdue - Add New Profiles to Library Database</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "user_id">User ID</label><br>
         <input type = "text" name = "user_id" placeholder = "Enter User ID" /><br>
        
         <label for = "first_name">First Name</label><br>
         <input type = "text" name = "first_name" placeholder = "Enter First Name" /><br>
         
         <label for = "last_name">Last Name</label><br>
         <input type = "text" name = "last_name" placeholder = "Enter Last Name" /><br>

         <label for = "email_add" >Email Address</label><br>
         <input type = "text" name = "email_add" placeholder = "Enter Email Address" /><br>
         
         <label for = "address">Address</label><br>
         <input type = "text" name = "address" placeholder = "Enter Address" /><br>

         <label for = "phone_no">Phone Number</label><br>
         <input type = "text" name = "phone_no" placeholder = "Enter Phone Number" /><br>

         <label for = "late_fee">Late Fee</label><br>
         <input type = "text" name = "late_fee" placeholder = "Enter Late Fee" /><br>

         <label for = "on_waitlist">Waitlist</label><br>
         <input type = "text" name = "on_waitlist" placeholder = "Type True or False" /><br>


         
         
         <input type = "submit" value = "Enter New Profile" />
      </form>
      
   </body>
</html>
