<!DOCTYPE html>
<html>
   <body>
   
      <h3>Purdue - Add Book to Library Database</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">ISBN</label><br>
         <input type = "text" name = "isbn" placeholder = "ISBN" /><br>
         <label for = "title">Title</label><br>
         <input type = "text" name = "title" placeholder = "title" /><br>
         <label for = "author">Author</label><br>
         <input type = "text" name = "author" placeholder = "author" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>
