<!DOCTYPE html>
<html>
   <body>
   
      <h3>Purdue - Search Library Database</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

    <form action = "{{ request.path }}" method = "post">
         <label for = "name">Search Library</label><br>
         <input type = "text" name = "search" placeholder = "search database" /><br>
         <input type = "submit" value = "Submit" />
      </form>
        <p> {{ sTitle }}, {{ sAuthor }} </p>
   </body>
</html>
