<!DOCTYPE html>
<html lang = "en">
   <head>
      <style>
         table {border-collapse: collapse; margin: 25px 0;font-size: large;font-family: sans-serif;min-width: 400px;box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}
         th {padding: 12px 15px; background-color: black;}
         thead {background-color:black;color: gold; text-align: left;}
         tr {background-color:wheat; text-align: left;}
         td {padding: 12px 15px; background-color: wheat;}
         body{font-size: large;}
      </style>
   </head>
   <body>
      
    <h3>
        <a href = "{{ url_for('show_all') }}">Purdue - Library 
           Management System</a>
     </h3> <br>
     <hr/>

     <h3>Ordered Books</h3>

     <h3>
      <a href = "{{ url_for('filter_orders') }}"> Search for Specific Orders</a>
      </h3> <br>

      <h3>
         <a href = "{{ url_for('update_order_status') }}"> Log an Ordered Book Shipment</a>
         </h3> <br>

      <table class="styled-table">
         <thead>
            <tr>
               <th>ISBN</th>
               <th>Title</th>
               <th>Author</th>
               <th>Genre</th>
               <th>Publishing Date</th>
               <th>Publisher</th>
               <th>Quantity</th>
               <th>Order Date</th>
               <th>ETA</th> 
               <th> Received</th>
            </tr>
         </thead>
         
         <tbody>
            {% for book in ordered_books %}
               <tr>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.title}}</td>
                  <td>{{ book.author}}</td>
                  <td>{{ book.genre}}</td>
                  <td>{{ book.pub_date}}</td>
                  <td>{{ book.publisher}}</td>
                  <td>{{ book.quantity}}</td>
                  <td>{{ book.order_date}}</td>
                  <td>{{ book.eta}}</td>
                  <td>{{ book.received}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>

</html>

