<!DOCTYPE html>
<html>
   <head>
      <style>
         table {border-collapse: collapse; margin: 25px 0;font-size: large;font-family: sans-serif;min-width: 400px;box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}
         th {padding: 12px 15px; background-color: black;}
         thead {background-color:black;color: gold; text-align: left;}
         tr {background-color:wheat; text-align: left;}
         td {padding: 12px 15px; background-color: wheat;}
         body{font-size: large;}
      </style>
   </head>
   <body>
   
      <h3>Purdue - Library Wailists</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

        <h3>Add to Waitlist (<a href = "{{ url_for('add_to_waitlist') }}"> Add to Wailist
        </a>)</h3>

        <h3> Remove From Waitlist (<a href = "{{ url_for('remove_from_waitlist') }}"> Remove From Waitlist
        </a>)</h3>

        <h3> Search for a Waitlist (<a href = "{{ url_for('show_waitlist') }}"> Seach for a Waitlist
        </a>)</h3>

   </body>
</html>


