<!DOCTYPE html>
<html>
   <head>
      <style>
         table {border-collapse: collapse; margin: 25px 0;font-size: large;font-family: sans-serif;min-width: 400px;box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}
         th {padding: 12px 15px; background-color: black;}
         thead {background-color:black;color: gold; text-align: left;}
         tr {background-color:wheat; text-align: left;}
         td {padding: 12px 15px; background-color: wheat;}
         body{font-size: large;}
      </style>
   </head>
   <body>
   
      <h3>Purdue - Library Wailists</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

    <!-- <form action = "{{ request.path }}" method = "post">
         <label for = "name">Search Waitlist</label><br>

         <input type="radio" id="isbn" name="filter" value="ISBN" checked> 
         <label for="isbn">ISBN</label><br>

         <input type="radio" id="user_id" name="filter" value="UserID" checked> 
         <label for="user_id">User ID</label><br>

        </form> -->

        <h3>Add to Waitlist (<a href = "{{ url_for('add_to_waitlist') }}"> Order a Book
        </a>)</h3>

        <h3> Remove From Waitlist (<a href = "{{ url_for('remove_from_waitlist') }}"> Create a Profile
        </a>)</h3>

        <h3> Search Book Waitlist (<a href = "{{ url_for('show_book_waitlist') }}"> Show Profiles
        </a>)</h3>

        <h3> Search User Waitlist (<a href = "{{ url_for('show_user_waitlist') }}"> Wailists
        </a>)</h3>

   </body>
</html>
